# url of page to scan for changes
scan.url = https://www.google.com/

# interval to reload page at in seconds
scan.interval = 300

# seconds to wait after page load event, for async content to load
scan.wait = 2

# smtp server to use with user details
mail.smtp = smtps://user%40gmail.com:pass@smtp.gmail.com

# email of user to send mail from
mail.from = from.user@gmail.com

# email of user to send mail to
mail.to = to.user@gmail.com